.main-container {
  max-width: 90%;
  margin: 0 auto;
  /* Centers the container horizontally */
}

.gold {
  color: #AEA37D;
}

.bg-gold {
  background-color: #AEA37D;
}


.exo2 {
  font-family: 'Exo 2', sans-serif;
}

.exo2-italic {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
}

.trans-bg {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.link-hover-move {
  transition: transform 0.4s ease;
}

.main-bg {
  background: url('Images/McLaren.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.nav-button {
  transition: stroke 0.3s ease;
}

.py-128 {
  padding-top: 44rem;
  padding-bottom: 44rem;
}

.object-left-30 {
  object-position: 30% center;
}

.clipped-img-left {
  clip-path: polygon(0 0, 90% 0, 62% 100%, 0% 100%);
  overflow: hidden;
  width: 100%;
}


.embla {
  width: 100%;
  max-width: 90%;
margin: 0 auto;
    overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 25%;
}

@media screen and (max-width: 1570px) {
  .embla__slide {
    min-width: 33.3333%; /* 3 cards per view on smaller screens */
  }
}

.card {
  margin: 10px;
  background-color:#202329;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}


.bg-dark-blue {
  background-color:#16181c;
}

.bg-dark-blue-light {
  background-color:#202329;
}

.large-shadow {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.featured-clip{
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%); 
}

/* Hide elements when scaling pages down to 1366 resolution */
@media screen and (max-width: 1570px) {
  .hide-1366 {
    display: none !important;
  }
}

@media screen and (min-width: 1570px) {
  .hide-1080 {
    display: none !important;
  }
}