.main-container {
  max-width: 90%;
  margin: 0 auto;
  /* Centers the container horizontally */
}

.gold {
  color: #AEA37D;
}

.bg-gold {
  background-color: #AEA37D;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}

.exo2 {
  font-family: 'Exo 2', sans-serif;
}

.exo2-italic {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
}

.trans-bg {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.link-hover-move {
  transition: transform 0.4s ease;
}

.main-bg {
  background: url('Images/McLaren.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.nav-button {
  transition: stroke 0.3s ease;
}

.py-128 {
  padding-top: 44rem;
  padding-bottom: 44rem;
}

.object-left-30 {
  object-position: 30% center;
}

/* .clipped-img {
  clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0 100%);
  overflow: hidden;
  width: 100%;
} */

.clipped-img-left {
  clip-path: polygon(0 0, 90% 0, 62% 100%, 0% 100%);
  overflow: hidden;
  width: 100%;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 20%;
  min-width: 0;
  padding: 1rem;
  margin-right:20px;
  margin-left: 10px;
}

